# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Editor Intermediary Files
*~

# Cmake build directory
build/
CMakeCache.txt
cmake_install.cmake
